<nav class="navbar navbar-expand-lg navbar-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href="/" id="home-link"><h1 id="title-of-page">Mystery of Dungeons</h1></a>
                <small style="color: white">Version: 1.0.6</small>
            </li>
            <li class="nav-item">
                <a class="btn btn-dark" href="/"><img src="/img/home.png"> Home</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-dark" href="/market"><img src="/img/shop.png"> Market </a>
            </li>
            <li class="nav-item">
                <a class="btn btn-danger" href="/arena">⚔️ Arena</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-dark" href="/leaderboard"><img src="/img/trophy.png"> Leaderboard</a>
            </li>             
            <li class="nav-item">
                <a class="btn btn-dark" href="/logout"><img src="/img/exit.png"> Log Out</a>
            </li> 
            <li class="nav-item">
                    <span class="btn btn-dark active">Online Players: <span id="onlineUsers" style="color: red"></span></span>
            </li>                               
        </ul>
    </div>
</nav>
